// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "modules": false
//       }
//     ],
//     "@babel/core"
//   ],
//   "plugins": []
// }
{
  "presets": ["@babel/preset-env"]
}
